{% extends 'base.html' %}
{% from 'render_elements.html' import pintar_alerta %}

{% block titulo %}
Docentes
{% endblock %}

{% block contenido %}
<div class="container-fluid">
    <div class="container-flat-form">
        <div class="title-flat-form title-flat-blue">Registrar un nuevo docente</div>
        <form class="form-padding" action="{{ url_for('docente_route.docente_guardar') }}" method="post">
            <div class="row">
                <div class="col-xs-12">
                    <legend><i class="zmdi zmdi-account-box"></i> &nbsp; Datos básicos</legend><br>
                </div>
                <div class="col-xs-12">
                    <div class="group-material">
                        <input type="text" class="material-control tooltips-general" name="docente_ci"
                            placeholder="Escribe aquí el numero de CI del docente" required="" maxlength="20"
                            data-toggle="tooltip" data-placement="top" title="CI de docente">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>CI</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="group-material">
                        <input type="text" class="material-control tooltips-general" name="docente_nombre"
                            placeholder="Escribe aquí los nombres del docente" required=""
                            pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,50}" maxlength="50" data-toggle="tooltip"
                            data-placement="top" title="Nombres del docente">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Nombres</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="group-material">
                        <input type="text" class="material-control tooltips-general" name="docente_apellido"
                            placeholder="Escribe aquí los apellidos del docente" required=""
                            pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,50}" maxlength="50" data-toggle="tooltip"
                            data-placement="top" title="Apellidos del docente">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Apellidos</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="group-material">
                        <input type="text" class="material-control tooltips-general" name="docente_titulo"
                            placeholder="Escribe aquí los titulo del docente" required=""
                            pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,50}" maxlength="50" data-toggle="tooltip"
                            data-placement="top" title="Titulo del docente">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Titulo</label>
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="group-material">
                        <span>Estado</span>
                        <select class="material-control tooltips-general" data-toggle="tooltip" data-placement="top" name="docente_estado"
                            title="Elige el estado que pertenece el docente">
                            <option>Selecciona un Estado</option>
                            <option value="activo" selected="">Activo</option>
                            <option value="inactivo" selected="">Inactivo</option>
                        </select>
                    </div>
                </div>
                
                
                <div class="col-xs-12">
                    <p class="text-center">
                        <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i
                                class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                        <button type="submit" class="btn btn-primary"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp;
                            Guardar</button>
                    </p>
                </div>
            </div>
        </form>
    </div>
    {{ pintar_alerta(messages) }}
</div>
{% endblock %}