{% extends 'base.html' %}
{% from 'render_elements.html' import pintar_alerta %}

{% block titulo %}
Docentes
{% endblock %}

{% block contenido %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 lead">
                    <ol class="breadcrumb">
                      <li><a href="{{ url_for('libros_route.libros-form') }}">Nuevo Docente</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <h2 class="text-center all-tittles">Listado de Docentes</h2>
            <div class="table-responsive">
                <div class="div-table" style="margin:0 !important;">
                    <div class="div-table-row div-table-row-list" style="background-color:#DFF0D8; font-weight:bold;">
                        <div class="div-table-cell" style="width: 6%;">#</div>
                        <div class="div-table-cell" style="width: 18%;">NOMBRES</div>
                        <div class="div-table-cell" style="width: 18%;">APELLIDOS</div>
                        <div class="div-table-cell" style="width: 18%;">CI</div>
                        <div class="div-table-cell" style="width: 18%;">ACCIONES</div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <div class="div-table" style="margin:0 !important;">
                    {% for item in docente %}
                    <div class="div-table-row div-table-row-list">
                        <div class="div-table-cell" style="width: 6%;">{{ item['id'] }}</div>
                        <div class="div-table-cell" style="width: 18%;">{{ item['nombre'] }}</div>
                        <div class="div-table-cell" style="width: 18%;">{{ item['apellido'] }}</div>
                        <div class="div-table-cell" style="width: 18%;">{{ item['titulo'] }}</div>
                        <div class="div-table-cell" style="width: 18%;">{{ item['ci'] }}</div>
                        <div class="div-table-cell" style="width: 18%;">{{ item['estado'] }}</div>
                        <div class="div-table-cell" style="width: 9%;">
                            <button class="btn btn-success"><i class="zmdi zmdi-refresh"></i></button>
                            <button class="btn btn-danger"><i class="zmdi zmdi-delete"></i></button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {{ pintar_alerta(messages) }}
{% endblock %}